:root {
  --branding-color: #8c0303;
  --secondary-color: #d9d7e2;
  --font-color: #0e0307;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  color: var(--font-color);
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: normal;
}

.hero,
.page-heading {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;
  line-height: 1.5;
}

.hero h2,
.page-heading h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--font-color);
}

.hero .profile-img {
  border-radius: 50%;
}

.page-heading h1 {
  font-size: 72px;
  line-height: 80px;
  text-align: center;
}

.page-heading h3 {
  font-size: 38px;
}

.container img {
  filter: grayscale(40%);
}

.content-container {
  margin: 10px;
  padding: 60px 60px;
}

.content {
  text-align: center;
}

.content .paragraph {
  font-size: 16px;
  color: var(--font-color);
  line-height: 2;
  text-align: center;
}

.content .paragraph a {
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  background-color: rgba(140, 3, 3, 10%);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
}

.project-description {
  padding: 20px 60px;
  text-align: center;
}

.languages {
  text-align: center;
}

footer {
  margin: 0 20px;
  color: #8c0303;
  text-align: center;
}

footer .footer-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

.social-media-box {
  background-color: var(--secondary-color);
  text-align: center;
}

.social-links {
  color: var(--branding-color);
  justify-content: center;
}

.social-links a {
  margin: 0 20px;
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 30px;
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

.social-links a:hover {
  cursor: pointer;
  color: var(--branding-color);
  background-color: var(--seconday-color);
  transition: all 100ms ease-in-out;
  border: 1px solid var(--branding-color);
}

.social-links .contact-info {
  color: var(--font-color);
  font-size: 20px;
  justify-content: center;
}

.footer-link a {
  text-decoration: none;
  color: black;
}

.footer-link a:hover {
  color: var(--branding-color);
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0 10px 0 10px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--font-color);
}

form {
  width: 50%;
}

.form-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.side-col {
  background-color: var(--secondary-color);
  padding: 0;
  margin: 0;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 64px;
    line-height: 70px;
  }

  .page-heading h1 {
    font-size: 54px;
  }

  .hero h2,
  .page-heading h2 {
    font-size: 20px;
  }

  .hero {
    padding: 120px 20px;
  }

  .project-description {
    padding: 30px 0;
    text-align: center;
  }

  .content-container {
    margin: 40px 10px;
    padding: 0;
  }

  .content img {
    margin: 0 auto;
    padding: 0;
  }

  .content .paragraph {
    background: var(--secondary-color);
    padding: 40px 30px;
    font-size: 16px;
    line-height: 2;
  }

  form {
    width: 100%;
  }

  nav a {
    font-size: 14px;
  }

  .social-links .contact-info {
    font-size: 16px;
  }
}
