:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --font-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: bold;
}

.hero,
.page-heading {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;
  line-height: 1.5;
}

.hero h2,
.page-heading h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--font-color);
}

.hero .profile-img {
  border-radius: 50%;
}

.page-heading h1 {
  font-size: 72px;
  line-height: 80px;
  text-align: center;
}

.page-heading h3 {
  font-size: 38px;
}

.content-container {
  padding: 80px 80px;
}

.content {
  text-align: center;
}

.content p {
  font-size: 16px;
  color: var(--font-color);
  line-height: 25px;
  text-align: justify;
  text-indent: 10%;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
}

.project-description {
  padding: 50px 60px;
  text-align: center;
}
.project-description a:hover {
  background: var(--branding-color);
  color: white;
}

.languages {
  text-align: center;
}

footer {
  margin: 20px 20px;
}

footer .footer-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

.contact-box a:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.social-media-box {
  background-color: var(--secondary-color);
  text-align: center;
}

.social-links {
  color: var(--branding-color);
  justify-content: center;
}

.social-links a {
  margin: 0 20px;
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 30px;
  color: var(--secondary-color);
  background-color: var(--branding-color);
}

.social-links a:hover {
  cursor: pointer;
  color: var(--branding-color);
  background-color: var(--seconday-color);
  transition: all 100ms ease-in-out;
  border: 1px solid var(--branding-color);
}

.social-links .contact-info {
  color: var(--font-color);
  font-size: 20px;
  justify-content: center;
}

.footer-link a {
  text-decoration: none;
  color: black;
}

.footer-link a:hover {
  color: var(--branding-color);
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0 10px 0 10px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

form {
  width: 50%;
}

.form-container {
  text-align: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 72px;
    line-height: 2;
  }

  .page-heading h1 {
    font-size: 54px;
  }

  .hero h2,
  .page-heading h2 {
    font-size: 20px;
  }

  .hero {
    padding: 120px 20px;
  }

  .content-container {
    padding: 40px 20px;
  }

  .project-description {
    padding: 30px 0;
    text-align: center;
  }

  #paragraph {
    background: var(--secondary-color);
    text-align: justify;
    padding: 40px 30px;
    line-height: 2;
  }

  form {
    width: 100%;
  }

  nav a {
    font-size: 14px;
  }

  .social-links .contact-info {
    font-size: 16px;
  }
}
