:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --font-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 70px;
  line-height: 1.5;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 140px 20px;
}

.profile-img {
  border-radius: 50%;
}

.hero p {
  font-size: 16px;
  color: var(--font-color);
  line-height: 25px;
  text-align: justify;
}

.hero h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.hero h3 {
  font-size: 32px;
}

.hero span {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.project-description {
  padding: 50px 60px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description a:hover {
  background: var(--branding-color);
  color: white;
}

.contact-box {
  padding: 50px 0;
  text-align: center;
}

.contact-box a:hover {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}

.social-links {
  color: var(--branding-color);
}

.social-links a {
  margin: 0 20px;
  padding: 5px 12px;
  border-radius: 50px;
  font-size: 30px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
}

.social-links a:hover {
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

span {
  color: var(--font-color);
  font-size: 16px;
}

.footer-link a {
  text-decoration: none;
  color: black;
}

.footer-link a:hover {
  color: var(--branding-color);
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0 10px 0 10px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  h2 {
    font-size: 40px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 30px 0;
    text-align: center;
  }

  form {
    width: 100%;
  }
}
